---
- name: Check if Redis is already installed
  command: redis-server --version
  register: redis_installed
  ignore_errors: yes

- name: Install Redis
  apt:
    name: redis-server
    state: present 
    update_cache: yes
  when: redis_installed.rc != 0

- name: Ensure Redis is running
  service:
    name: redis-server
    state: started
    enabled: yes
