---
- name: Check if PostgreSQL is already installed #new add
  command: psql --version
  register: postgres_installed
  ignore_errors: yes

- name: Install PostgreSQL
  apt:
    name: postgresql
    state: present
    update_cache: yes
  when: postgres_installed.rc != 0 #new add HELLOOOOO

- name: Ensure PostgreSQL is running
  service:
    name: postgresql
    state: started
    enabled: yes
