---
- name: Deploy Vote and Result frontend containers
  hosts: frontend
  become: yes

  tasks:
    - name: Remove old Vote container
      community.docker.docker_container:
        name: vote
        state: absent
      ignore_errors: yes

    - name: Remove old Result container
      community.docker.docker_container:
        name: result
        state: absent
      ignore_errors: yes

    - name: Pull Vote app image
      community.docker.docker_image:
        name: ugindev/voting-app:latest
        source: pull

    - name: Pull Result app image
      community.docker.docker_image:
        name: ugindev/result-app:latest
        source: pull

    - name: Run Vote app container
      community.docker.docker_container:
        name: vote
        image: ugindev/voting-app:latest
        state: started
        restart_policy: always
        ports:
          - "8080:80"
        env:
          REDIS_HOST: 10.0.2.15
          REDIS_PORT: "6379"

    - name: Run Result app container
      community.docker.docker_container:
        name: result
        image: ugindev/result-app:latest
        state: started
        restart_policy: always
        ports:
          - "8081:80"
        env:
          PG_HOST: 10.0.2.212
          PG_USER: postgres
          PG_PASSWORD: postgres
          PG_DATABASE: postgres
          PG_PORT: "5432"
